@font-face {
	font-family: 'Glamora';
	src: url('/fonts/GLAMORA.otf') format('opentype');
}

@font-face {
	font-family: 'pixel';
	src: url('fonts/pixel2.ttf') format('truetype');
  }
  

@keyframes blink {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

.blinking-text {
	animation: blink 2s linear infinite;
}


@keyframes fadeOut {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	}
  }

  @keyframes fadeOutSub {
	0% {
	  opacity: 0;
	}
	20% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }

  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
