*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    outline: none;
}

#overlay {
    transition: opacity 1s ease-out;
 }

.hide {
    opacity: 0 !important; 
}

#font {
	display: flex;
	flex-direction: column; /* Alignement des enfants en colonne */
	align-items: center; /* Centrage horizontal des enfants */
	justify-content: center; /* Centrage vertical des enfants */
	height: 100vh; /* Hauteur totale de la vue pour le centrage vertical */
	
  }
  