*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    outline: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 48px;
    display: block;
    text-align: center;
    transition: opacity 1s ease-out;
}

.hide {
    opacity: 0 !important; 
}