* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	outline: none;
}

#overlay {
	transition: opacity 1s ease-out;
}

.hide {
	opacity: 0 !important;
}

#font {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

}

#fade-overlay {
	position: fixed; /* changé de 'absolute' à 'fixed' */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0;
	transition: opacity 2s ease;
	pointer-events: none;
}